.transactionHistory {
	border: 1px solid #090909;
	width: 400px;
	margin: 30px auto
}

.transactionHistoryThead {
	border: 1px solid #000;
	
	height: 36px;
	font-size: 22px;
	font-weight: 600;
	
}

.transactionRow {
	text-align: center;
}


.transactionCell {
	height: 30px;
	border: 1px solid #050505;
	font-size: 18px;
	font-weight: 600;
}